/* Masonary Layout POJECT 5/30/2025 Aaran Moody */

body {
	background-color: skyblue;
}

main {
	max-width: 95%;
	margin-right: auto;
	margin-left: auto;
}

h2 {
	text-align: center;
	color: white;
	text-shadow: black 2px 1px 6px;
	font-size: 2em;
}

img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 15px;
}

section#gallery {
	column-count: 3;
	column-gap: 24px;
}

div.item {
	margin-bottom: 15px;
}

/* Media query for tablet or smaller screen */

@media only screen and (max-width: 760px) {
	section#gallery {
		column-count: 2;
		column-gap: 12px;
	}
}
